<mat-action-list>
  <tpg-todo-list-item
    title="Conquer Mount Everest"
    description="Prepare for an epic expedition to the world's highest peak. Gather gear, train, and embark on a life-changing journey to conquer Mount Everest."
    (click)="
      itemClicked(
        'Conquer Mount Everest',
        'Prepare for an epic expedition to the world\'s highest peak. Gather gear, train, and embark on a life-changing journey to conquer Mount Everest.'
      )
    "
  ></tpg-todo-list-item>

  <tpg-todo-list-item
    title="Underwater Exploration"
    description="Dive into the mysterious depths of the ocean. Enroll in scuba diving lessons, explore vibrant coral reefs, and encounter fascinating marine creatures."
    (click)="
      itemClicked(
        'Underwater Exploration',
        'Dive into the mysterious depths of the ocean. Enroll in scuba diving lessons, explore vibrant coral reefs, and encounter fascinating marine creatures.'
      )
    "
  ></tpg-todo-list-item>

  <tpg-todo-list-item
    title="Master the Art of Salsa"
    description="Sign up for salsa dance classes and learn the energetic moves of this Latin dance style. Perfect your footwork, spins, and partner work to become a salsa master."
    (click)="
      itemClicked(
        'Master the Art of Salsa',
        'Sign up for salsa dance classes and learn the energetic moves of this Latin dance style. Perfect your footwork, spins, and partner work to become a salsa master.'
      )
    "
  ></tpg-todo-list-item>

  <tpg-todo-list-item
    title="Build a Treehouse"
    description="Channel your inner architect and construct a whimsical treehouse in your backyard. Design the blueprint, gather materials, and create a magical hideaway among the branches."
    (click)="
      itemClicked(
        'Build a Treehouse',
        'Channel your inner architect and construct a whimsical treehouse in your backyard. Design the blueprint, gather materials, and create a magical hideaway among the branches.'
      )
    "
  ></tpg-todo-list-item>

  <tpg-todo-list-item
    title="Learn Mandarin Chinese"
    description="Embark on a linguistic journey and learn Mandarin Chinese, one of the most widely spoken languages in the world. Immerse yourself in the rich culture and master essential phrases."
    (click)="
      itemClicked(
        'Learn Mandarin Chinese',
        'Embark on a linguistic journey and learn Mandarin Chinese, one of the most widely spoken languages in the world. Immerse yourself in the rich culture and master essential phrases.'
      )
    "
  ></tpg-todo-list-item>

  <tpg-todo-list-item
    title="Volunteer at an Animal Shelter"
    description="Dedicate your time to help furry friends in need. Volunteer at a local animal shelter, assist with feeding, grooming, and providing love and care to adorable shelter animals."
    (click)="
      itemClicked(
        'Volunteer at an Animal Shelter',
        'Dedicate your time to help furry friends in need. Volunteer at a local animal shelter, assist with feeding, grooming, and providing love and care to adorable shelter animals.'
      )
    "
  ></tpg-todo-list-item>

  <tpg-todo-list-item
    title="Become a Master Barista"
    description="Discover the art of brewing coffee. Enroll in a barista course, learn latte art, and master the art of creating delicious espresso-based beverages."
    (click)="
      itemClicked(
        'Become a Master Barista',
        'Discover the art of brewing coffee. Enroll in a barista course, learn latte art, and master the art of creating delicious espresso-based beverages.'
      )
    "
  ></tpg-todo-list-item>

  <tpg-todo-list-item
    title="Start a Book Club"
    description="Gather fellow bookworms and create a book club. Choose captivating reads, engage in thoughtful discussions, and expand your literary horizons with like-minded readers."
    (click)="
      itemClicked(
        'Start a Book Club',
        'Gather fellow bookworms and create a book club. Choose captivating reads, engage in thoughtful discussions, and expand your literary horizons with like-minded readers.'
      )
    "
  ></tpg-todo-list-item>

  <tpg-todo-list-item
    title="Create a Herb Garden"
    description="Cultivate your green thumb and start a herb garden. Plant aromatic herbs like basil, mint, and rosemary, and enjoy the satisfaction of using fresh ingredients in your culinary adventures."
    (click)="
      itemClicked(
        'Create a Herb Garden',
        'Cultivate your green thumb and start a herb garden. Plant aromatic herbs like basil, mint, and rosemary, and enjoy the satisfaction of using fresh ingredients in your culinary adventures.'
      )
    "
  ></tpg-todo-list-item>

  <tpg-todo-list-item
    title="Learn Astrophotography"
    description="Capture the beauty of the night sky. Dive into the world of astrophotography, learn how to photograph stars, galaxies, and nebulae, and unveil the wonders of the universe through your lens."
    (click)="
      itemClicked(
        'Learn Astrophotography',
        'Capture the beauty of the night sky. Dive into the world of astrophotography, learn how to photograph stars, galaxies, and nebulae, and unveil the wonders of the universe through your lens.'
      )
    "
  ></tpg-todo-list-item>
</mat-action-list>
